body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#de0202, #a80856, #fa0f61);
  background-repeat: no-repeat;
  background-size: contain;
  overflow:hidden;
  display: grid;
  place-items: center;
  height: 100vh;
}

h1{
  font-size: 100px;
  color: antiquewhite;
}

.main-con{
  display: grid;
  place-items: center;
}
  
#slider {
  position: relative;
  width: 360px;
  height: 705px;

  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

#slider ul {
  position: relative;
  list-style: none;
  width: 10000%;
  padding: 0;
  margin: 0;
  transition: all 750ms ease;
  left: 0;
}

#slider ul li {
  position: relative;

  float: left;
}

#slider ul li img{
  width: 360px;
  height: 705px;
  border-radius: 15px;
  border: none;
}

#slider #prev, #slider #next {
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  transform: translateY(-50%);
  transition: all 150ms ease;
}

#slider #prev {
  left: 10px;
}

#slider #next {
  right: 10px;
}
  
#slider #prev:hover, #slider #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0;
}

head{
  display: flex;
  margin: 0;
}

header h1{
  margin: 0;
}

.but{
  position: relative;
  z-index: 200;
  background: none;
  border: none;
  padding-top: 250px;
  padding-left: 200px;
  padding-bottom: 250px;
  padding-right: 200px;
  font-size: xx-large;
  border-radius: 100%;
  background-color: rgb(201, 52, 52);
  color: aliceblue;
  transition: 0.5s;
}

@media (max-width: 768px) {
  #slider{
    width: auto;
    height:530px;
    width:260px;
    margin: 0;
    padding: 0;
    bottom: 100px;
    position: relative;
  }

  #slider ul li img{
    height:530px;
    width:260px;
  }

  header h1{
    margin: 0;
    font-size: 40px;
  }

  .but{
    position: absolute;
    background: none;
    border: none;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 100px;
    padding-right: 50px;
    font-size: xx-large;
    border-radius: 100%;
    background-color: rgb(201, 52, 52);
    color: aliceblue;
    transition: 0.5s;
  }
}

